

.title {
    padding-left: 50px;
    color: rgb(204, 7, 7);
    font-weight: bold;
    margin-bottom: 0;
}

.main {
    text-align: right;
}

.dateTime {
    text-align: right;
    padding-right: 50px;
    font-weight: bold;
}
.slug {
    background-color: red;
    border: none;
    color: white;
    padding: 3px 4px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 2px;
}
.box {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid red;
    background-color: white;
    border-radius: 0.1em;
    box-shadow: 0 1em 1em rgb(58, 53, 53);
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, pink, white 15%);
}
.shortText {
    margin: 10px;
}
.textArea {
    width: 100%;
}