.image {
    height: 100px;
    width: 180px;
    float: left;
    border-radius: 50%;
    border-style: solid;
    border-color: #cc0000;
    border-width: 8px;
    margin-right: 1em;
}
@media (min-width: 400px) {
    .image {
        width: 180px;
        height: 120px;
    }
}

@media (min-width: 800px) {
    .image {
        width: 360px;
        height: 240px;
    }
}

@media (min-width: 1200px) {
    .image {
        width: 720px;
        height: 480px;
    }
}