.flexContainer {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid #c90813;
    margin: 5%;
    background-image: linear-gradient(90deg, red -50%, white 14%);
    padding: 5%;
    list-style: none;
    box-shadow: 0 0.625rem 0.75rem #3e3e3e;
}
.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial;
    background: linear-gradient(to right,#c63f43,white 180px);
    border: 1px solid #ce0f0f;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0px 4px 4px 4px #888888;
    width: 50%;
}

.head {
    color: #c00;
    margin: 0;
}

.time {
    text-align: right;
    padding-right: 50px;
    font-weight: bold;
}
.textArea {
    margin-top: 1.25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

