.body {
    background-color: #999999;
    margin: 1rem 0;
    border: 0.0625rem dashed;
    padding: 0;
    min-width: 26.1rem;
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 400px) {
    .body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 800px) {
    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}