.styles {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 3px 4px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 2px;
}
